
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar, .dropdown-menu{
  backdrop-filter: blur(0px);
  opacity: 0.9;
  background: rgb(130, 131, 237);
  position: fixed;
  float: inline-start;
  width: 100% ;
  z-index: 1000;
  
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 60%;
  justify-content: flex-end;
}

li {
  margin: 0;
}

